nav{
    position: fixed;
    background: rgba(17, 17, 17, 0.671);
    padding: 0px, 5px;
    border: 0px 0px;
  }
  section{
    background-image: url('../img/team.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    width: 100%;    
    background-position: center;
    background-size: cover;
    
  }
  .navClass{
    background: rgba(19, 18, 18, 0.89); 
  }
nav li a{
  color: #fffafaea; 
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
a{
  font-family: 'Open Sans', sans-serif;  
}
nav .brand-logo{
  color: #fffafaea; 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-left: 1%;
}
.table-of-contents a {
  color: #fffafabd;  
}

.table-of-contents li{
  margin: 3px 3px; 
  height: 30px;
  
}
.table-of-contents a.active {
  border-bottom: 1px solid #26a69a;
  border-left: 0px solid;
  height: 25px;  
  color: #fffafaea;
  padding-left:5px; 
  padding-right:5px;    
}
.table-of-contents a:hover {
  border-bottom: 1px solid #26a69a;
  border-left: 0px solid;
  height: 25px;  
  color: #fffafaea;
}
.toImg{
  background-color: transparent;
  height: 600px;  
  top: 600px;
}
#about-me{
  background-color: rgba(0, 0, 0, 0.911);  
  height: 200px;
}
#about-me p{
  color: #fffafab9; 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.secondSect{
  background-color: transparent;
  height: 300px;
}

#projects-container{
  padding: 20px 5px 0px 0px;  
  background-color: rgba(14, 13, 13, 0.829);  
  text-align: center;
}

.projects{
background-color: rgba(15, 15, 15, 0.842);
background-position: center;
padding-bottom: 5px;
}

.projects p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; 
  color: rgba(253, 249, 243, 0.815);
}

.projects img{
  height: 300px;
  width: 400px;  
}
h5{
  font-size: 20px;   
  color:  #fffafacb; 
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px 0px 10px;
}

.btn-repositorio{
border: 0.5px solid rgba(255, 255, 255, 0.418);  
font-family: 'Open Sans', sans-serif;
color: rgba(253, 249, 243, 0.815);
font-size: 14px;
}
#skills{
  background-color: rgba(0, 0, 0, 0.911);  
  text-align: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}
#skills li{
  font-family: 'Open Sans', sans-serif;
  color: rgba(253, 249, 243, 0.815);
  font-size: 14px;
}
#skills img{
  height: 40px;
  width: 40px;
}
td{
  color: rgba(253, 249, 243, 0.815);  
  text-align: center;  
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px; 
}
.soft{
  margin-top: 2.5%;
}
.tech{
  border-right: 0.5px solid rgba(255, 255, 255, 0.658); 
}
.soft i{
  color: #26a69a;
}
.type-skill{
  font-size: 16px;  
}
#contacto{
  padding: 15px;
  height: 400px;
  background-color: rgba(14, 13, 13, 0.829);  
  text-align: center;
  color: rgba(253, 249, 243, 0.815);  
}


footer{
  background-color: rgb(17, 16, 16);
  padding: 15px;
  color: rgba(253, 249, 243, 0.815);  
  text-align: center;  
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; 
}



