nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px, 5px;
    border: 0px 0px;
  }
  section{
    background-image: url('../img/team.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    background-size: cover;
    width: 100%;    
    background-position: center;
  }
nav li a{
  color: #fffafaea; 
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px;
}
a{
  font-family: 'Open Sans', sans-serif;  
}
nav .brand-logo{
  color: #fffafaea; 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-left: 1%;
}
.toImg{
  background-color: transparent;
  height: 600px;  
  top: 600px;
}
.aboutMe{
  background-color: rgba(0, 0, 0, 0.911);  
  height: 200px;
}
.aboutMe p{
  color: #fffafab9; 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.secondSect{
  background-color: transparent;
  height: 300px;
}

#projects-container{
  padding: 20px 5px 0px 0px;  
  background-color: rgba(0, 0, 0, 0.911);  
  text-align: center;
}

.projects{
background-color: rgba(0, 0, 0, 0.637);
background-position: center;
border: 0.5px solid rgba(255, 255, 255, 0.212);
padding-bottom: 5px;
}

.projects p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; 
  color: rgba(253, 249, 243, 0.815);
  height: 200px;
}

h5{
  font-size: 20px;   
  color:  #fffafacb; 
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px 0px 10px;
}

.btn-repositorio{
border: 0.5px solid rgba(255, 255, 255, 0.418);  
font-family: 'Open Sans', sans-serif;
color: rgba(253, 249, 243, 0.815);
font-size: 14px;
}
#skills{
  background-color: rgba(0, 0, 0, 0.911);  
  text-align: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}
#skills li{
  font-family: 'Open Sans', sans-serif;
  color: rgba(253, 249, 243, 0.815);
  font-size: 14px;
}
td{
  color: rgba(253, 249, 243, 0.815);  
  text-align: center;  
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px; 
}
.soft{
  margin-top: 3%;
}
.tech{
  border-right: 0.5px solid rgba(255, 255, 255, 0.658); 
}
.soft i{
  color: #ee666af6;
}
.type-skill{
  font-size: 16px;  
}
footer{
  height: 300px;
  background-color: black;
  padding: 15px
}