nav{
    position: fixed;
    background: rgba(255, 248, 248, 0);
    padding: 0px, 5px;
    color: #20887d;
}
section{
    width: 100%;    
    background-position: center;
    background-size: cover;
}
i.material-icons {
  color: #20887d;
}
.navClass{
    background: #fff; 
    box-shadow: 0 1px 0px #ebe4e4b7 !important;
    
}
nav li a{
  color: #fffafaea; 
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
a{
  font-family: 'Open Sans', sans-serif;  
}
nav .brand-logo{
  color: #20887d; 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight:bold;
  margin-left: 1%;
}
.table-of-contents a {
  color: #242424f1;  
  padding-left:5px; 
  padding-right:5px;
}

.table-of-contents li{
  margin: 3px 3px; 
  height: 30px;
  padding-left:5px; 
  padding-right:5px;    
}

.table-of-contents a.active {
  border-bottom: 2px solid #2db9abe7;
  border-left: 0px solid;
  height: 25px;  
  color: #242424f1;
  padding-left:5px; 
  padding-right:5px;
  margin: 3px 3px;
  font-weight:bold;
}
.table-of-contents a:hover {
  background: transparent;
  border-bottom: 2px solid #26a69a;
  border-left: 0px solid;
  padding-left:5px; 
  padding-right:5px;
  height: 25px;  
  color: #242424f1;
  font-weight:bold;
}
.toImg{
  background-color: transparent;
  height: 600px;  
  top: 600px;
}
.section scrollspy{
  padding-top: 50%
}
#about-me{
  display: flex;
  background: rgb(253, 253, 253); 
  height: calc(100vh - 50px);
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}
#text{
  padding: 20px 20px;
  text-align: center;
}
#about-me p{
  color: rgb(27, 27, 27); 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

#about-me img{
  height: 100px;
  width:140px;
}
h4{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color:  #444444; 
}

#presentation{
  background-image: url('https://fotos.subefotos.com/1be0373aef58d58d2a90c9711c6e67d5o.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;   
  width: 100%;    
  background-position: center;
  background-size: cover;
  height: 800px;
}

.projects-container{
  background-color: rgb(255, 253, 253);  
  text-align: center;
}

.project-box{
  padding: 0 0;
}
.tabs{
width: 90%;

}
#tabs-swipe-demo{
  align-items: center;
}
.tabs .tab a {
  height: 65%;
  color: #444444;  
  font-size: 13px;
  background-color: #ebeeeed0;
  font-weight: bold; 
  line-height: 30px;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #26a69a;
  color: #fefefe;
  
}
.tabs .indicator {
  height: 0;
}
.tabs .tab{
  padding-left: 2%;
  padding-right: 2%;
}
.row .col.s3 {
  margin-left: 0;
}
.row .col {
  
 align-items: center; 
}

.projects{
  background-position: center;
  padding-bottom: 5px;
  margin-bottom: 25%
}
.projects p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px; 
  color: rgba(37, 37, 37, 0.99);
} 

.projects img{
  height: 300px;
  width: 400px;

}
.button-project{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projects a{
  margin: 0 2%;
}
#skills{
  background-color:#F6F6F6; 
  text-align: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  height: calc(100vh - 50px);
  
}
#skills li{
  font-family: 'Open Sans', sans-serif;
  color: rgba(253, 249, 243, 0.815);
  font-size: 14px;
}
#skills img{
  height: 40px;
  width: 40px;
}
#skill h4{
  color:  #e0ebe8; 
}
td{
  color: rgba(253, 249, 243, 0.815);  
  text-align: center;  
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px; 
}
.soft{
  margin-top: 7%;
}
.tech{
  border-right: 0.5px solid rgba(255, 255, 255, 0.658); 
}
.soft i{
  color: #26a69a;
}
.type-skill{
  font-size: 16px;  
}
footer{
  background-color: black;
  padding: 15px;
  height: 400px;
}

@media only screen and (min-width: 768px) {
  #about-me img{
    height: 130px;
    width:200px;
  }
  #text{
    width: 50%;
  }
  #about-me{
    padding-top: 50px;
  }
  .tabs {
    display: flex;
    height: 48px;
    width: 50%;
    background-color: #fff;
    margin: 0 auto;
    color: yellow;
    text-align: center;
    justify-content: center;
}
.projects{
  margin-bottom: 10%;
}
.project-box{
  padding: 5% 15%;
}
}

